<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="page-heading">{{ vm.content.latam.title | CMS }}</h1>
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->


<!-- Gallery  Section -->
<div class="work">
  <div class="row">

    <div class="col-md-12 col-sm-12">
      <div class="tp-five">

        <div class="slide-five">
          <a href="assets/images/gallery/01.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/01.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/02.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/02.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/03.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/03.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/04.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/04.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/05.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/05.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/06.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/06.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/07.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/07.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/08.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/08.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/09.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/09.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/10.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/10.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <div class="text">
        <p>
          Existe inconsistencia en múltiples jurisdicciones de la región tanto en los distintos sistemas jurídicos que
          protegen los derechos de marca como en la manera en que éstos son reportados al cliente.
        </p>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12 col-sm-12">
      <div class="tp-five">

        <div class="slide-five">
          <a href="assets/images/gallery/11.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/11.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/12.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/12.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/13.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/13.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>
        <div class="slide-five">
          <a href="assets/images/gallery/14.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/14.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>
        <div class="slide-five">
          <a href="assets/images/gallery/15.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/15.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>
        <div class="slide-five">
          <a href="assets/images/gallery/16.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/16.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>
        <div class="slide-five">
          <a href="assets/images/gallery/17.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/17.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>
        <div class="slide-five">
          <a href="assets/images/gallery/18.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>
        <div class="slide-five">
          <a href="assets/images/gallery/19.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/19.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>
        <div class="slide-five">
          <a href="assets/images/gallery/20.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/20.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>


      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <div class="text">
        <p>
          Por ejemplo, mientras
          que en Brasil la acción de cancelación se presenta al quinto año desde que la marca no se ha usado, en demás
          países de la región la acción de cancelación es accionable a partir del tercer año.
          coordinada.
        </p>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-12 col-sm-12">
      <div class="tp-five">

        <div class="slide-five">
          <a href="assets/images/gallery/21.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/21.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/22.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/22.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/23.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/23.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/24.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/24.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/25.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/25.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/26.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/26.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/27.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/27.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/28.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/28.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/29.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/29.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

        <div class="slide-five">
          <a href="assets/images/gallery/30.jpeg" class="image-popup">
            <img
              src="assets/images/gallery/30.jpeg" class="img-responsive" alt="Work">
          </a>
        </div>

      </div>
    </div>

    <div class="col-md-12 col-sm-12">
      <div class="text">
        <p>
          Nuestra red de asociados a
          través de toda América Latina y nuestros años de experiencia litigando en todas estas jurisdicciones, nos
          permite advertir estratégicamente a nuestros clientes qué acciones se deben seguir de manera sistemática y
        </p>
      </div>
    </div>
  </div>
</div>
