
<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1 class="page-heading">Picture Gallery</h1>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="breadCrumb"><a href="#.">Home</a> / <span>Gallery</span></div>
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->

<!-- Gallery Section -->
<div id="work">
  <div class="container">
    <ul class="portfolio-grid row">
      <li class="col-md-6 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/1.jpg" class="image-popup"> <img src="assets/images/gallery/1.jpg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/2.jpg" class="image-popup"> <img src="assets/images/gallery/2.jpg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/3.jpg" class="image-popup"> <img src="assets/images/gallery/3.jpg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/4.jpg" class="image-popup"> <img src="assets/images/gallery/4.jpg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/5.jpg" class="image-popup"> <img src="assets/images/gallery/5.jpg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/6.jpg" class="image-popup"> <img src="assets/images/gallery/6.jpg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/7.jpg" class="image-popup"> <img src="assets/images/gallery/7.jpg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/8.jpg" class="image-popup"> <img src="assets/images/gallery/8.jpg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/2.jpg" class="image-popup"> <img src="assets/images/gallery/2.jpg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/1.jpg" class="image-popup"> <img src="assets/images/gallery/1.jpg" class="img-responsive" alt="Work"> </a> </div>
      </li>
    </ul>
  </div>
</div>
