<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="page-heading">
          {{ vm.content.latam.title | CMS }}
          </h1>
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->

<!-- Gallery Section -->
<div id="work">
  <div class="container">
    <ngx-slick-carousel class="carousel portfolio-grid row"
                        #slickModal="slick-carousel"
                        [config]="slideConfig"
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide work-thumb">
        <img src="{{ slide.img }}" alt="" width="100%">
      </div>
    </ngx-slick-carousel>
  </div>
</div>

