p{
  font-size: 20px;
}

.image-popup {
  max-width: 400px;
}
.img-responsive {
  max-width: 400px;
  margin: 30px auto;
}

h2 {
  font-size: 35px;
  margin: 0 0 30px;
}

@media(max-width: 768px) {
  .text {
    height: auto;

    p {
      margin: 15px 0px;
      font-size: 25px;

    }
  }
}
