<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="page-heading">{{ vm.content.infracciones.title | CMS }}</h1>
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->

<!-- Gallery video Section -->
<div class="work">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <p [innerHtml]=" vm.content.infracciones.apertura | CMS "></p>
    </div>
  </div>
  <div class="tp-video">

    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/01.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/01.mp4" type="video/mp4">
        </video>
      </a>
    </div>

    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/02.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/02.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/03.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/03.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/04.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/04.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/05.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/05.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/06.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/06.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/07.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/07.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/08.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/08.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/09.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/09.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/09.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/09.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/10.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/10.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/11.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/11.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/12.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/12.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/13.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/13.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/14.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/14.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/15.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/15.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/16.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/16.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/17.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/17.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/18.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/18.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/19.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/19.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/20.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/20.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/21.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/21.mp4" type="video/mp4">
        </video>
      </a>
    </div>
  </div>

</div>

<!-- Gallery Section -->
<div class="work">
  <div class="tp-five">

    <div class="slide-five">
      <a href="assets/images/gallery/01.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/01.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/02.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/02.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/03.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/03.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/04.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/04.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/05.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/05.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/06.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/06.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/07.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/07.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/08.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/08.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/09.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/09.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/10.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/10.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/11.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/11.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/12.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/12.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/13.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/13.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/14.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/14.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/15.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/15.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/16.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/16.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/17.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/17.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/18.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/19.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/19.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/20.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/20.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/21.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/21.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/22.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/22.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/23.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/23.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/24.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/24.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/25.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/25.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/26.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/26.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/27.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/27.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/28.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/28.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/31.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/31.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/32.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/32.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/33.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/33.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/34.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/34.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/35.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/35.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/36.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/36.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/37.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/37.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/38.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/38.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/40.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/40.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/41.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/41.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/42.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/42.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/43.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/43.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/44.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/44.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/45.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/45.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/46.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/46.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/47.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/47.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/48.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/48.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/49.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/49.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>
    <div class="slide-five">
      <a href="assets/images/gallery/50.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/50.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h3>{{ vm.content.infracciones.advertenciaTitle | CMS }}</h3>
      <p [innerHtml]=" vm.content.infracciones.advertencia | CMS "></p>
    </div>
  </div>
</div>


<!-- Page Title End -->
