<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="page-heading">{{ vm.content.infracciones.title | CMS }}</h1>
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->

<!-- Gallery Section -->
<div class="work">
  <div class="tp-banner">
    <ul class="portfolio-grid row">
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/01.jpeg" class="image-popup"> <img src="assets/images/gallery/01.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/02.jpeg" class="image-popup"> <img src="assets/images/gallery/02.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/03.jpeg" class="image-popup"> <img src="assets/images/gallery/03.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/04.jpeg" class="image-popup"> <img src="assets/images/gallery/04.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/05.jpeg" class="image-popup"> <img src="assets/images/gallery/05.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/06.jpeg" class="image-popup"> <img src="assets/images/gallery/06.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/07.jpeg" class="image-popup"> <img src="assets/images/gallery/07.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/08.jpeg" class="image-popup"> <img src="assets/images/gallery/08.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/09.jpeg" class="image-popup"> <img src="assets/images/gallery/09.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/10.jpeg" class="image-popup"> <img src="assets/images/gallery/10.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/11.jpeg" class="image-popup"> <img src="assets/images/gallery/11.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/12.jpeg" class="image-popup"> <img src="assets/images/gallery/12.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/13.jpeg" class="image-popup"> <img src="assets/images/gallery/13.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/14.jpeg" class="image-popup"> <img src="assets/images/gallery/14.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/15.jpeg" class="image-popup"> <img src="assets/images/gallery/15.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/16.jpeg" class="image-popup"> <img src="assets/images/gallery/16.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/17.jpeg" class="image-popup"> <img src="assets/images/gallery/17.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/18.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/19.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/20.jpeg" class="image-popup"> <img src="assets/images/gallery/10.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/21.jpeg" class="image-popup"> <img src="assets/images/gallery/11.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/22.jpeg" class="image-popup"> <img src="assets/images/gallery/12.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/23.jpeg" class="image-popup"> <img src="assets/images/gallery/13.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/24.jpeg" class="image-popup"> <img src="assets/images/gallery/14.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/25.jpeg" class="image-popup"> <img src="assets/images/gallery/15.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/26.jpeg" class="image-popup"> <img src="assets/images/gallery/16.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/27.jpeg" class="image-popup"> <img src="assets/images/gallery/17.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/28.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/29.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/30.jpeg" class="image-popup"> <img src="assets/images/gallery/10.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/31.jpeg" class="image-popup"> <img src="assets/images/gallery/11.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/32.jpeg" class="image-popup"> <img src="assets/images/gallery/12.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/33.jpeg" class="image-popup"> <img src="assets/images/gallery/13.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/34.jpeg" class="image-popup"> <img src="assets/images/gallery/14.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/35.jpeg" class="image-popup"> <img src="assets/images/gallery/15.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/36.jpeg" class="image-popup"> <img src="assets/images/gallery/16.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/37.jpeg" class="image-popup"> <img src="assets/images/gallery/17.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/38.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/39.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/40.jpeg" class="image-popup"> <img src="assets/images/gallery/10.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/41.jpeg" class="image-popup"> <img src="assets/images/gallery/11.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/42.jpeg" class="image-popup"> <img src="assets/images/gallery/12.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/43.jpeg" class="image-popup"> <img src="assets/images/gallery/13.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/44.jpeg" class="image-popup"> <img src="assets/images/gallery/14.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/45.jpeg" class="image-popup"> <img src="assets/images/gallery/15.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/46.jpeg" class="image-popup"> <img src="assets/images/gallery/16.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/47.jpeg" class="image-popup"> <img src="assets/images/gallery/17.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a hre.pageTitlef="assets/images/gallery/48.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/49.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/50.jpeg" class="image-popup"> <img src="assets/images/gallery/10.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/51.jpeg" class="image-popup"> <img src="assets/images/gallery/11.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/52.jpeg" class="image-popup"> <img src="assets/images/gallery/12.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/53.jpeg" class="image-popup"> <img src="assets/images/gallery/13.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/54.jpeg" class="image-popup"> <img src="assets/images/gallery/14.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/55.jpeg" class="image-popup"> <img src="assets/images/gallery/15.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/56.jpeg" class="image-popup"> <img src="assets/images/gallery/16.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/57.jpeg" class="image-popup"> <img src="assets/images/gallery/17.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/58.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/59.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/60.jpeg" class="image-popup"> <img src="assets/images/gallery/10.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/61.jpeg" class="image-popup"> <img src="assets/images/gallery/11.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/62.jpeg" class="image-popup"> <img src="assets/images/gallery/12.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/63.jpeg" class="image-popup"> <img src="assets/images/gallery/13.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/64.jpeg" class="image-popup"> <img src="assets/images/gallery/14.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/65.jpeg" class="image-popup"> <img src="assets/images/gallery/15.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/66.jpeg" class="image-popup"> <img src="assets/images/gallery/16.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/67.jpeg" class="image-popup"> <img src="assets/images/gallery/17.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/68.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/69.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/70.jpeg" class="image-popup"> <img src="assets/images/gallery/10.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/71.jpeg" class="image-popup"> <img src="assets/images/gallery/11.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/72.jpeg" class="image-popup"> <img src="assets/images/gallery/12.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/73.jpeg" class="image-popup"> <img src="assets/images/gallery/13.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/74.jpeg" class="image-popup"> <img src="assets/images/gallery/14.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/75.jpeg" class="image-popup"> <img src="assets/images/gallery/15.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/76.jpeg" class="image-popup"> <img src="assets/images/gallery/16.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/77.jpeg" class="image-popup"> <img src="assets/images/gallery/17.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/78.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/79.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/80.jpeg" class="image-popup"> <img src="assets/images/gallery/10.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/81.jpeg" class="image-popup"> <img src="assets/images/gallery/11.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/82.jpeg" class="image-popup"> <img src="assets/images/gallery/12.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/83.jpeg" class="image-popup"> <img src="assets/images/gallery/13.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/84.jpeg" class="image-popup"> <img src="assets/images/gallery/14.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/85.jpeg" class="image-popup"> <img src="assets/images/gallery/15.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/86.jpeg" class="image-popup"> <img src="assets/images/gallery/16.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/87.jpeg" class="image-popup"> <img src="assets/images/gallery/17.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/88.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
      <li class="col-md-4 col-sm-6">
        <!-- Gallery Thumb -->
        <div class="work-thumb"> <a href="assets/images/gallery/89.jpeg" class="image-popup"> <img src="assets/images/gallery/18.jpeg" class="img-responsive" alt="Work"> </a> </div>
      </li>
    </ul>
  </div>
</div>

<!-- Gallery video Section -->
<div class="work">
  <div class="tp-video">
    <ul class="portfolio-grid row">
      <li class="col-md-6 col-sm-6">
        <div class="work-thumb">
          <video width="100%" height="360" autoplay class="img-responsive">
            <source src="assets/videos/01.mp4" type="video/mp4">
          </video>
        </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <div class="work-thumb">
          <video width="100%" height="360" autoplay class="img-responsive">
            <source src="assets/videos/02.mp4" type="video/mp4">
          </video>
        </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <div class="work-thumb">
          <video width="100%" height="360" autoplay class="img-responsive">
            <source src="assets/videos/03.mp4" type="video/mp4">
          </video>
        </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <div class="work-thumb">
          <video width="100%" height="360" autoplay class="img-responsive">
            <source src="assets/videos/04.mp4" type="video/mp4">
          </video>
        </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <div class="work-thumb">
          <video width="100%" height="360" autoplay class="img-responsive">
            <source src="assets/videos/05.mp4" type="video/mp4">
          </video>
        </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <div class="work-thumb">
          <video width="100%" height="360" autoplay class="img-responsive">
            <source src="assets/videos/06.mp4" type="video/mp4">
          </video>
        </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <div class="work-thumb">
          <video width="100%" height="360" autoplay class="img-responsive">
            <source src="assets/videos/07.mp4" type="video/mp4">
          </video>
        </div>
      </li>
      <li class="col-md-6 col-sm-6">
        <div class="work-thumb">
          <video width="100%" height="360" autoplay class="img-responsive">
            <source src="assets/videos/08.mp4" type="video/mp4">
          </video>
        </div>
      </li>

    </ul>
  </div>

</div>

<!-- Page Title End -->
