<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="page-heading">{{ vm.content.infracciones.title | CMS }}</h1>
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->

<!-- Gallery video Section -->
<div class="work">
  <div class="tp-video">

    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/01.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/01.mp4" type="video/mp4">
        </video>
      </a>
    </div>

    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/02.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/02.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/03.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/03.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/04.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/04.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/05.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/05.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/06.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/06.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/07.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/07.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/08.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/08.mp4" type="video/mp4">
        </video>
      </a>
    </div>
    <div class="slide-five">
      <a class=" popup-video" href="assets/videos/09.mp4">
        <video width="100%" controls muted height="360" controls class="video-responsive">
          <source src="assets/videos/09.mp4" type="video/mp4">
        </video>
      </a>
    </div>
  </div>

</div>

<!-- Gallery Section -->
<div class="work">
  <div class="tp-five">

    <div class="slide-five">
      <a href="assets/images/gallery/01.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/01.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/02.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/02.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/03.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/03.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/04.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/04.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/05.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/05.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/06.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/06.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/07.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/07.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/08.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/08.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/09.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/09.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

    <div class="slide-five">
      <a href="assets/images/gallery/10.jpeg" class="image-popup">
        <img
          src="assets/images/gallery/10.jpeg" class="img-responsive" alt="Work">
      </a>
    </div>

  </div>
</div>


<!-- Page Title End -->
