.language {
  position: absolute;
  right: 50px;
  top: 20px;
  color: black;
  background-color: white;
  padding: 5px 15px;
  border-radius: 15px;
  font-weight: bold;

  span {
    color: #acacac;
    cursor: pointer;

    &.selected {
      color: black;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200000;
  background-color: rgba(0, 0, 0, 0.7);

  .text-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px 25px;
    transform: translate(-50%, -50%);

    p {
      margin: 0;
      font-size: 20px;
      font-family: "Helvetica", "Open Sans", sans-serif;
      text-align: center;
    }

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      color: #000;
      transform: rotate(45deg);
    }

  }
}
