<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="page-heading">{{ vm.content.contacto.title | CMS }}</h1>
      </div>

    </div>
  </div>
</div>
<!-- Page Title End -->

<!-- Contact Section -->
<div id="contact" class="parallax-section">
  <div class="container">

    <!-- SECTION TITLE -->
    <div class="section-title">
      <h3>Contacto</h3>
      <p> </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="contact-now">
          <div class="contact"><span><i class="fa fa-phone"></i></span>
            <div class="information"><strong>Teléfono:</strong>
              <p><a href="tel:+51997326994">+51997326994</a></p>
            </div>
          </div>
          <!-- Contact Info -->
          <div class="contact"><span><i class="fa fa-envelope"></i></span>
            <div class="information"><strong>Email:</strong>
              <p>vanhasselt@outlook.com.pe</p>
            </div>
          </div>
          <!-- Contact Info -->
          <div class="contact"><span><i class="fa fa-whatsapp"></i></span>
            <div class="information"><strong>whatsapp</strong>
              <p> <a
                href="https://api.whatsapp.com/send?phone=51997326994&text=Hola%20deseo%20saber%20mas%20sobre%20la%20proteccion%20de%20mi%20marca">+51997326994</a>
              </p>
            </div>
          </div>
          <!-- Contact Info -->
        </div>
      </div>
      <div class="col-md-8">
        <!-- CONTACT FORM HERE -->
        <div class="contact-form">
          <form id="contact-form" class="row">
            <div class="col-md-4 col-sm-6">
              <input type="text" class="form-control" name="name" placeholder="Nombre">
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="col-md-4 col-sm-12">
              <input type="tel" class="form-control" name="phone" placeholder="Teléfono">
            </div>
            <div class="col-md-12 col-sm-12">
              <textarea class="form-control" rows="5" name="message" placeholder="Mensaje"></textarea>
            </div>
            <div class="col-md-12">
              <button id="submit" type="submit" class="form-control" name="submit">Enviar mensaje</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

