.medios {
  text-align: center;
  a{
    font-size: 20px;
  }
  iframe{
    display: block;
    margin: 20px auto;

  }
}

.linkAtv{
  color: #fff;
  background-color: #db3636;
  padding: 10px 20px ;
  border-radius: 8px ;
  margin: 15px 20px;
}
