<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="page-heading">{{ vm.content.biographic.titlepage | CMS }}</h1>
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->

<div class="innerpgWraper">
  <div class="container">
    <div class="about-desc">
      <div class="row">
        <div class="col-md-6">
          <h3>{{ vm.content.biographic.title | CMS }}</h3>
          <p [innerHtml]=" vm.content.biographic.conten | CMS "></p>
        </div>
        <div class="col-md-6">
          <div class="tp-perfil">
            <div class="postimg">
              <a href="assets/images/DSC_3323.JPG" class="image-popup">
                <img src="assets/images/DSC_3323.JPG"/>
              </a>
            </div>
            <div class="postimg">
              <a href="assets/images/DSC_3198.jpg" class="image-popup">
                <img src="assets/images/DSC_3198.jpg"/>
              </a>
            </div>
          </div>

          <div class=" medios">
            <h2>Apariciones en medios</h2>
            <a class="linkAtv"
               href="http://www.atv.pe/actualidad/autoridades-incautaron-mercancia-bamba-en-miraflores-358681"> Entrevista
              con ATV</a>
            <div class="tp-video">
              <a href="https://youtube.com/embed/y8QQreqIdVE?t=45" class="popup-video">
              <iframe width="100%" height="480" src="https://www.youtube.com/embed/kiAA6-JJAoo" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
              </a>
              <a href="https://youtube.com/embed/y8QQreqIdVE?t=45" class="popup-video">
              <iframe width="100%" height="480" src="https://youtube.com/embed/y8QQreqIdVE?t=45" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
