<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="page-heading">{{ vm.content.biographic.titlepage | CMS }}</h1>
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->

<div class="innerpgWraper">
  <div class="container">
    <div class="about-desc">
      <div class="row">
        <div class="col-md-7">
          <h3>{{ vm.content.biographic.title | CMS }}</h3>
          <p [innerHtml]=" vm.content.biographic.conten | CMS "></p>
        </div>
        <div class="col-md-5">
          <div class="postimg"><img src="assets/images/DSC_3323.JPG"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 medios" >
          <h2>Apariciones en medios</h2>
          <a href="http://www.atv.pe/actualidad/autoridades-incautaron-mercancia-bamba-en-miraflores-358681"> Entrevista
            con ATV</a>
          <iframe width="100%" height="480" src="https://www.youtube.com/embed/kiAA6-JJAoo" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
          <br>
          <iframe width="100%" height="480" src="https://www.youtube.com/embed/y8QQreqIdVE" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>

        </div>
      </div>
    </div>
  </div>
</div>
